.display-container {
  padding: 70px 55px 27px;
}

@media (max-width: 700px) {
  .display-container {
    order: -1;
    flex-basis: 100%;
    padding: 50px 0 20px;
  }
}
.display {
  text-align: center;
  font-size: 18px;
  color: #000;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 1.0;
}
.display_maintime {
  font-size: 110px;
  margin-bottom: 20px;
}
.display_laptime {
  font-size: 25px;
  color: #a6a6aa;
}
