.stopwatch__controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px) {
  .stopwatch__controls {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
